.navdiv {
	overflow-x: hidden;
	overflow-y: hidden;
	width: 200%;
	height: 45px;
	line-height: 43px;
	background-color: #FFFFFF;
	font-size: 12px;
	margin-bottom: 5px;
}

.navdiv div {
	width: 12%;
	list-style: none;
	float: left;
	display: inline;
	float: left;
	color: #BFBFBF;
	text-align: center;
	overflow-x: auto;
	word-break: break-all;
	word-wrap: break-word;
}

.navdiv div.active {
	color: #0067b1;
	border-bottom: 2px solid #0067B1;
}